---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

<p> (* indicates corresponding author)</p>
<ul>
<li>Sampson, M.(*) and Chan, K.-S. (2025),Highest Probability Density Conformal Regions. Journal of Computational and Graphical Statistics. <a href="https://doi.org/10.1080/10618600.2025.2520584">https://doi.org/10.1080/10618600.2025.2520584</a></li>
<li>Sampson, M.(*) and Chan, K.-S. (2024), Conformal Multi-Target Hyperrectangles. Stat Anal Data Min: The ASA Data Sci Journal, 17: e11710. <a href="https://doi.org/10.1002/sam.11710">https://doi.org/10.1002/sam.11710</a></li>
</ul>
<h1 id="manuscripts">Manuscripts</h1>
<ul>
<li>Sampson, M.(*) and Chan, K.-S. (2024), Flexible Conformal Highest Predictive Conditional Density Sets. <a href="https://arxiv.org/abs/2406.18052">https://arxiv.org/abs/2406.18052</a></li>
<li>Sampson, M.(*) and Chan, K.-S. (2025), Sequential Conformalized Density Regions. <a href="/SCDR_Poster.pdf" target="_blank">Click here for the SCDR preprint</a></li>
</ul>

{% include base_path %}




